@use "../../../../styles/partials/global" as *;
@use "../../../../styles/partials/mixins" as *;

.gameover {
  width: 60%;
  height: 60%;
  min-width: 10rem;
  min-height: 10rem;
  background-color: rgba(240, 240, 240, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.25rem solid rgb(40, 40, 40);
  border-radius: 0.5rem;

  @include tablet {
    width: 50%;
    height: 50%;
  }
  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(230, 230, 230, 0);
    position: absolute;
    top: 0;
    left: 0;
  }
  &__result {
    @include section-header;
    margin: 1rem 0 0 0;
    text-align: center;

    @include tablet {
      margin: 2rem 0 0 0;
    }
  }
  &__message {
    @include subheader;

    @include tablet {
      margin: 2rem 0 3rem 0;
    }
  }
  &__button {
    @include button;
    width: 40%;
    max-width: 8rem;
    height: 3rem;
    border-radius: 50% / 100%;
    background-color: lightcoral;
    flex-grow: 1;

    @include tablet {
      max-width: 10rem;
      height: 4rem;
    }
    @include desktop {
      max-width: 12rem;
      height: 5rem;
    }

    &-container {
      width: 100%;
      padding: 0 0.5rem 0.5rem 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      @include tablet {
        padding: 0 1rem 1rem 1rem;
      }
      @include desktop {
        padding: 0 2rem 2rem 2rem;
      }
    }
    &:first-child {
      margin-right: 0.5rem;
      background-color: lightblue;

      @include tablet {
        margin-right: 1rem;
      }
      @include desktop {
        margin-right: 2rem;
      }
    }
  }
  &__difficulty-header {
    @include subheader;
    max-height: 10%;
    font-weight: 700;
    margin: 0.5rem 0 1rem 0;
    text-align: center;

    @include tablet {
      margin: 2rem 0 2rem 0;
    }
    @include desktop {
      margin: 3rem 0 3rem 0;
    }
  }
  &__difficulty-button {
    @include body-copy;
    width: 100%;
    max-width: 10rem;
    height: 2.5rem;
    max-height: 3rem;
    border-radius: 50% / 100%;
    background-color: lightblue;
    margin-bottom: 0.25rem;
    flex-grow: 1;

    @include tablet {
      max-width: 12rem;
      height: 3.5rem;
      max-height: 5rem;
      margin-bottom: 1rem;
    }
    @include desktop {
      max-width: 16rem;
      height: 4.5rem;
      max-height: 6rem;
      margin-bottom: 2rem;
    }
    &-container {
      width: 50%;
      max-height: 75%;
      min-height: 60%;
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include tablet {
        margin-bottom: 1rem;
      }
      @include desktop {
        margin-bottom: 3rem;
      }
    }
    &:nth-child(2) {
      background-color: rgb(172, 239, 172);
    }
    &:nth-child(3) {
      background-color: rgb(255, 188, 122);
    }
    &:last-child {
      background-color: lightcoral;
      margin: 0;
    }
  }
}
