@use "./breakpoints" as *;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin page-header {
  font-size: 2.5rem;
  font-weight: 700;
  @include tablet {
    font-size: 4rem;
  }
  @include desktop() {
    font-size: 5rem;
  }
}

@mixin section-header {
  font-size: 1.5rem;
  font-weight: 700;
  @include tablet {
    font-size: 2rem;
  }
  @include desktop() {
    font-size: 3rem;
  }
}

@mixin subheader {
  font-size: 1rem;
  font-weight: 400;
  @include tablet {
    font-size: 1.25rem;
  }
  @include desktop() {
    font-size: 2rem;
  }
}

@mixin body-copy {
  font-size: 0.875rem;
  font-weight: 400;
  @include tablet {
    font-size: 1rem;
  }
  @include desktop() {
    font-size: 1.5rem;
  }
}

@mixin button {
  font-size: 0.75rem;
  font-weight: 400;
  @include tablet {
    font-size: 0.875rem;
  }
  @include desktop() {
    font-size: 1.25rem;
  }
}
