@use "../../../../styles/partials/global" as *;
@use "../../../../styles/partials/mixins" as *;

.board {
  width: 90vw;
  max-width: 75vh;
  height: 90vw;
  max-height: 75vh;
  padding: 4vw;
  background-color: rgb(180, 140, 100);
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include tablet {
    width: 75vw;
    height: 75vw;
    padding: 3.33vw;
  }
  @include desktop {
    width: 50vw;
    height: 50vw;
    padding: 2.22vw;
  }
  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d2d2d2;

    @include tablet {
      width: calc(75vw + 4rem);
    }
    @include desktop {
      width: calc(50vw + 8rem);
    }
  }
}
