@use "../../../../styles/partials/global" as *;
@use "../../../../styles/partials/mixins" as *;

.board {
  width: calc(100vw - 4rem);
  height: calc(100vw - 4rem);
  padding: 1rem;
  background-color: rgb(180, 140, 100);
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  &-container {
    padding: 2rem;
  }
}
