@use "../../../../styles/partials/global" as *;
@use "../../../../styles/partials/mixins" as *;

.captured-pieces {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 1rem;

  @include tablet {
    top: 1.25rem;
  }
  @include desktop {
    top: 2.25rem;
  }
  &__piece {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;

    @include tablet {
      width: 2rem;
      height: 2rem;
    }
    @include desktop {
      width: 2.25rem;
      height: 2.25rem;
    }
  }
}
