@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.signup {
  height: 100vh;
  padding: 2rem 2rem 4rem 2rem;
  margin: auto;
  background-color: darkgray;

  @include tablet {
    padding: 4rem 4rem 6rem 4rem;
    width: 66vw;
  }
  @include desktop {
    width: 40vw;
  }
  &__header {
    @include page-header;
    width: 60%;
    text-align: center;
    border-bottom: 2px solid black;
    margin-top: 0;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  @include tablet {
    margin-bottom: 4rem;
  }
  @include desktop {
    margin-bottom: 6rem;
  }
  &__form {
    &-header {
      @include section-header;
      border-bottom: 2px solid black;
      margin: 2rem 0 1rem 0;

      @include tablet {
        margin: 3rem 0 1.5rem 0;
      }
      @include tablet {
        margin: 4rem 0 2rem 0;
      }
    }
    &-field {
      width: 100%;
      position: relative;
      &-container {
        margin-bottom: 0.75rem;

        @include tablet {
          margin-bottom: 1.25rem;
        }
        @include desktop {
          margin-bottom: 1.25rem;
        }
      }
      & > img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 0.5rem;
        transform: translateY(-50%);
      }
    }
    &-label {
      position: relative;
    }
    &-input {
      @include body-copy;
      width: 100%;
      height: 3rem;
      color: grey;
      border: 1px grey solid;
      border-radius: 0.25rem;
      background-color: #fdfdfd;
      padding: 0.5rem 1rem 0.5rem 3rem;
    }
    &-error {
      @include body-copy;
      color: rgb(190, 15, 15);
      &--hidden {
        display: none;
      }
    }
  }
  &__button {
    @include section-header;
    width: 100%;
    border: 2px solid;
    border-radius: 0.5rem;
    color: #fff;
    transition: 0.25s;
    border: 1px solid black;
    background-color: #e2725b;
    line-height: 1;
    padding: 1.25rem 2rem;
    margin-top: 2rem;

    @include tablet {
      margin-top: 3rem;
      padding: 1.5rem 2rem;
    }
    @include desktop {
      margin-top: 4rem;
      padding: 2rem 2rem;
    }
    &:hover,
    &:focus {
      box-shadow: inset calc(100vw - 2rem) 0 0 0 var(--hover);
    }
  }
}

button {
  color: var(--color);
  transition: 0.25s;
}

$colors: (
  signup__button: #19bc8b,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{$color};
  }
}
