@use "../../../../styles/partials/global" as *;
@use "../../../../styles/partials/mixins" as *;

.tile {
  width: 12.5%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__light-square {
    &--option1 {
      background-color: white;
    }
    &--option2 {
      background-color: #eeeed2;
    }
    &--option3 {
      background-color: #ffffff;
    }
    &--option4 {
      background-color: rgb(227, 193, 111);
    }
    &--option5 {
      background-color: rgb(157, 172, 255);
    }
    &--option6 {
      background-color: rgb(204, 183, 174);
    }
    &--option7 {
      background-color: rgb(177, 228, 185);
    }
  }
  &__dark-square {
    &--option1 {
      background-color: grey;
    }
    &--option2 {
      background-color: #769656;
    }
    &--option3 {
      background-color: #964d37;
    }
    &--option4 {
      background-color: rgb(184, 139, 74);
    }
    &--option5 {
      background-color: rgb(111, 115, 210);
    }
    &--option6 {
      background-color: rgb(112, 102, 119);
    }
    &--option7 {
      background-color: rgb(112, 162, 163);
    }
  }
  &__piece-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    &--hidden {
      display: none;
    }
  }
  &__valid-moves {
    width: 33%;
    height: 33%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    &--hidden {
      display: none;
    }
  }
  &__promotion-options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    & > img {
      width: 50%;
      height: 50%;
      object-fit: contain;
    }
    &--hidden {
      display: none;
    }
  }
}
