@use "../../../../styles/partials/global";

.tile {
  width: 12.5%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__light-square {
    background-color: white;
  }
  &__dark-square {
    background-color: grey;
  }
  &__piece-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    &--hidden {
      display: none;
    }
  }
  &__valid-moves {
    width: 33%;
    height: 33%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    &--hidden {
      display: none;
    }
  }
  &__promotion-options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    & > img {
      width: 50%;
      height: 50%;
      object-fit: contain;
    }
    &--hidden {
      display: none;
    }
  }
}
