@use "../../../../styles/partials/global" as *;
@use "../../../../styles/partials/mixins" as *;

.player {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  & > img {
    width: 2rem;
    height: 2rem;
    background-color: lightcoral;
    border: 1px solid black;
  }
  & > div {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0.5rem;
  }
  &__data-container {
    display: flex;
  }
  &__name {
    @include subheader;
    font-weight: 600;
    margin: 0;
  }
  &__elo {
    @include subheader;
    margin: 0;
  }
}
